# Theme from: https://codepen.io/helleholmsen/pen/LZEvzj

html {
  background: #22324a;
}

body {
  background: #22324a;
  position: relative;
  cursor: url('https://ionicframework.com/img/finger.png'), auto;
  font-family: 'Lato', sans-serif;
  display: none;
}

h1, h2, h3, h4, h5, p, a, div, span, small {
  font-family: 'Lato', sans-serif;
}

#stage {
  overflow: hidden;
  width: 375px;
  height: 600px;
  background: -webkit-linear-gradient(345deg, #2b4488, #a7b5cb);
  background: linear-gradient(345deg, #2b4488, #a7b5cb);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.card {
  height: 400px;
  margin: 0 auto;
  margin-left: 8.5%;
  margin-right: 8.5%;
  width: calc(100% - 17%);
  border-radius: 9px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.3);
  margin-top: 170px;
  overflow: hidden;
  z-index: 5;
  position: relative;
}

.bg-img {
  position: relative;
  height: 270px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.bg-img .inner {
  padding: 32px 32px;
  z-index: 3;
  position: relative;
}
.bg-img .inner h1 {
  color: #fff;
  font-size: 28px;
  max-width: 150px;
  line-height: 1.2em;
  margin-bottom: 12px;
  font-weight: 300;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #757575;
  opacity: 0.3;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

small.small {
  color: #fff;
  font-size: 12px;
  display: block;
  margin-bottom: 84px;
  font-weight: 300;
}
