<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Flask - Foto de astronomia do dia</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//fonts.googleapis.com/css?family=Lato:400,300,100,700,900" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='application.css') }}" rel=="stylesheet" type="text/cyss" />
  </head>
  <body>
    <div id="stage" class="container">


      {% if data["media_type"] == "image" %}
        <div class="card w-75" style="width: 18rem;">
          <img src="{{ data["url"] }}" class="card-img-top" alt="{{ data["explanation"] }}" />
          <div class="card-body">
            <h5 class="card-title">{{ data["title"] }}</h1>
            <p class="card-text">{{ data["explanation"] }}</p>
            <p class="card-text">
              <small class="text-muted">Creditos da Imagem: {{ data["copyright"] }}</small>
            </p>
          </div>
        </div>
      {% elif data["media_type"] == "video" %}
        <iframe src="{{ data["url"] }}" allowfullscreen></iframe>
      {% else %}
        <h4> Didn't understand media type: <code>{{ data["media_type"] }}</code> </h4>
      {% endif %}
      <p></p>
    </div>
  </body>
</html>
